@import '../variables';

.playfield {
  border-radius: $border-radius-medium;
  background-color: $color-dark-gray;
  box-shadow: rgba($color-black, 65%) 0 0 15px;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(17, auto);
  place-items: center;
}

.upside-down {
  transform: rotate(180deg);
}
