@import '../variables';

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.current-turn {
  width: 100%;
  text-align: center;
  font-size: 35px;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 20px;
}

.walls-count {
  text-align: right;
  font-size: 18px;
}
