@import "../variables";

.wall {
  background-color: $color-light-gray;
  opacity: 0;

  &.horizontal {
    margin: 2px 0;
    width: $wall-horizontal-width;
    max-width: $wall-horizontal-width;
    min-width: $wall-horizontal-width;
    height: $wall-horizontal-height;
  }

  &.vertical {
    margin: 0 2px;
    width: $wall-vertical-width;
    max-width: $wall-vertical-width;
    min-width: $wall-vertical-width;
    height: $wall-vertical-height;
  }

  &.hovered,
  &.placed {
    opacity: 1;
    cursor: pointer;
  }
}

.intersection {
  background-color: $color-light-gray;
  width: $intersection-width;
  height: $intersection-height;
  opacity: 0;
  margin: 0 2px;

  &.horizontal {
    height: 10px;
    margin-top: 2px;
  }

  &.hovered,
  &.placed {
    opacity: 1;
    cursor: pointer;
  }
}

.intersection-horizontal {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: -2px;
    width: 14px;
    height: 10px;
    background-color: $color-light-gray;
    display: block;
  }
}

.intersection-vertical {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: -2px;
    width: 10px;
    height: 14px;
    background-color: $color-light-gray;
    display: block;
  }
}

.intersection-vertical.intersection-horizontal {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    width: 10px;
    height: 14px;
    background-color: $color-light-gray;
    display: block;
  }

  &::after {
    content: '';
    position: absolute;
    left: -2px;
    width: 14px;
    height: 10px;
    background-color: $color-light-gray;
    display: block;
  }
}