@import 'variables';

* {
  box-sizing: border-box;
  font-family: $font-family-apple;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: $color-dark-gray;
}

::-webkit-scrollbar-thumb {
  background-color: $color-darker-gray;
}

::selection {
  background-color: $color-selection;
}

h1,
h2,
h3,
p,
span,
div {
  color: $color-text;
}

body {
  margin: 0;
  padding: 0;
  background-color: $color-dark-gray;
}

code {
  font-family: $font-family-code;
}
