$color-pink: #30475E;
$color-dark-gray: #1d1d1d;
$color-black: #000000;
$color-white: #ffffff;
$color-text: #d8dce0;
$color-blue: darken(lightgray, 10%);

$playfield: calc(min(700px, 90vw));
$tile: calc((#{$playfield} - 30px - 12px * 8) / 9);

$wall-horizontal-width: $tile;
$wall-horizontal-height: 10px;
$wall-vertical-width: 10px;
$wall-vertical-height: $tile;
$intersection: 10px;
