$color-pink: #30475E;
$color-dark-gray: #1d1d1d;
$color-black: #000000;
$color-white: #ffffff;
$color-text: #d8dce0;
$color-blue: darken(lightgray, 10%);

$playfield: fit-content;
$tile: 62px;

$wall-horizontal-width: $tile;
$wall-horizontal-height: 10px;
$wall-vertical-width: 10px;
$wall-vertical-height: $tile;
$intersection: 10px;
